@import "tailwindcss";
:root {
  margin: 0;
}

/* aboreto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Aboreto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/aboreto-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: clamp(2.2rem, 5vw, 3rem);
  color: #ec7124;
  font-family: "Aboreto", system-ui, sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: clamp(1.2rem, 3.5vw, 1.5rem);
  color: #632f0f;
  font-weight: lighter;
}
h3 {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  color: #632f0f;
  font-weight: lighter;
}

h4 {
  font-size: 1em;
  font-weight: lighter;
}

h6 {
  font-size: clamp(0.7rem, 2vw, 1rem);
  color: #632f0f;
  font-weight: lighter;
}

p {
  font-size: small;
}
