@import "tailwindcss";
:root {
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  color: #ec7124;
}
h2 {
  font-size: 1.5em;
  color: #632f0f;
}
h3 {
  font-size: 1em;
  color: #632f0f;
}

p {
  font-size: small;
}
